<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <img class="logo" src="{% static 'images/logo.jpg' %}">
    <style>
        body{
            background-image:url("{% static 'images/landingbg.jpeg' %}");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #13072D;
        }
    </style>
</head>
<body>
    <div class="search">
    <form method="GET">
        {% csrf_token %}
      <input type="text" name="search" placeholder="Emp id, Name, etc...">
      <input type="submit" value="submit" class="buttonss" >
    </form>
    </div>   

         <div class="main">
            <h1>Employee Analysis</h1>
         </div>
    
         <div class="empd">
            <h1>Employee Details</h1>
            <hr>
         </div>
   

    
        <div class="dash">
            <h1>DASHBOARD</h1>
        </div>

        <div class="menu">
            <h1>Menu</h1>
        </div>

        <div class="dash2">
            <h1>~ DASHBOARD</h1>
        </div>

        <div class="update">
            <h1>~ Update</h1>
        </div>
        
        <div class="logout">
            <h1>Log Out</h1>
        </div>
        <div class="employee-list">
            {% for employee in employee %}
            <div class="cell">
                <div class="child">
                <p>Name: {{ employee.fname }}</p>
                <p>Emp id: {{ employee.empno }}</p>
                </div>
                <div class="buttons">
                    <a href="{% url 'empno' employee.empno %}" class="btn">Update</a>
                    <a href="{% url 'rating' employee.empno %}" class="btn">Details</a>
                </div>
            </div>
            {% endfor %}
            
        </div>

</body>
</html>
            
        

